 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$font-one:'Sintony', sans-serif;
$font-two: 'Rosario', sans-serif;
$width: 1200px;


.who{
  font-size: 200px;
  color: hsla(350, 100%, 51%, 1);
  margin-bottom: -75px;
  transition: text-align 1.2s ease-in;
}
.who:hover{
  color: hsla(43, 100%, 51%, 1);
  text-align: right;
}

.what{
  font-size: 180px;
  color: hsla(8, 100%, 51%, 1);
  margin-bottom: -75px;
}

.why{font-size: 160px;
  color: hsla(16, 100%, 51%, 1);
  margin-bottom: -75px;
}
.where{ font-size: 140px;
  color: hsla(32, 100%, 51%, 1);
  margin-bottom: -75px;
}
.when{font-size: 160px;
  color: hsla(36, 100%, 51%, 1);
  margin-bottom: -75px;
}
.how{ font-size: 140px;
  color: hsla(43, 100%, 51%, 1);
  margin-bottom: -75px;
}

body{
  background-color: white;

}
.container{
  width: $width;
  position: relative;
  font-family: $font-two;
}

.pic-box{
width: 250px;
height: 300px;

}
.magenta{
  position: absolute;
  margin-left: 100px;
  margin-top: 50px;
  width: 700px;
  height: 830px;
  opacity: .95;
  border-radius: 25px;
  border: 5px dotted red; background-image:url("/images/quotes.jpg");
}




.box-one{  width: $width;
  height: 100px;
  background-color: black;
  margin-bottom: 10px;
  }
.box-two{ width: $width;
  height: 90px;
  background-color: black;
  margin-bottom: 20px;
}
.box-three{width: $width;
  height: 80px;
  background-color: black;
  margin-bottom: 30px;
  }
.box-four{width: $width;
height: 70px;
background-color: black;
margin-bottom: 40px;
}
.box-five{width: $width;
height: 60px;
background-color: black;
margin-bottom: 50px;
}

.box-six{  width: $width;
  height: 50px;
  background-color: black;
  margin-bottom: 60px;
  }
.box-seven{ width: $width;
  height: 40px;
  background-color: black;
  margin-bottom: 70px;
}
.box-eight{width: $width;
  height: 30px;
  background-color: black;
  margin-bottom: 80px;
  }
.box-nine{width: $width;
height: 20px;
background-color: black;
margin-bottom: 90px;
}
.box-ten{width: $width;
height: 10px;
background-color: black;
margin-bottom: 100px;}
