 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


body{
background-color: rgb(245,245,241);
}
.container {
width: 1200px;

position: relative;
background-color: rgba(255,255,255,1);
}

.sidebar{
  background-color: rgba(255,255,255,1);
  width: 300px;
  position: absolute;
  margin-top: 30px;
  margin-left: 100px;


 h4{
  margin-left: 10px;
  font-size: 13px;
  color: rgb(102,102,102);
 }
 a{
   text-decoration:none;
   color: rgb(112,163,187);
 }
 a:hover{
   text-decoration: underline;
 }
}
.input-radio{
  color: rgb(102,102,102);
  font-size: 13px;
  margin-top: 10px;
  padding-bottom:10px;
  border: none;
}
legend{
  font-weight: bold;
}
.sidebar ul{
  list-style-type: none;
  margin-left: -30px;
  font-weight:bold;
  color: rgb(102,102,102);
  font-size: 13px;
}
.sidebar li{
  list-style-type: none;
  margin-left: 30px;
  font-size: 13px;
  margin-left: 15px;
  font-weight: normal;
  margin-top: 8px;
}

.image-grid{
  width: 760px;
  background-color: rgba(245,245,241,1);
  list-style-type: none;
  margin-top: 30px;
  margin-left: 330px;
  position: absolute;

 li {
  width: 219px;
  height: 213px;
  margin-bottom: 25px;
  margin-left: 20px;
  display: inline-block;
  background-color: rgba(255,255,255,1);
  position: relative;

}

li:hover{
  box-shadow: 0 0 0.25em black;
}
  img{
  width: 213px;
  height: 171px;
  margin: 3px;
  }
  h3{
    width: 218px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -4px;
    margin-left: 3px;
    text-overflow: ellipsis;
  }
  p{
    font-size: 12px;
    color: gray;
    margin-top: -10px;
    margin-left: 3px;

  }
  span {
    color: green;
    width: 164px;
    position: absolute;
    margin-top: 193px;
    top: 0;
    right: 10px;
    text-align:right;

  }
}
