 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$font-one:'Sintony', sans-serif;
$font-two: 'Rosario', sans-serif;
$width: 1200px;




body{
  background-color: white;

}
.container{
  width: $width;
  position: relative;
  font-family: $font-two;
}



.box-one{  width: $width;
  height: 100px;
  background-color: black;
  margin-bottom: 10px;
  }
.box-two{ width: $width;
  height: 90px;
  background-color: black;
  margin-bottom: 20px;
}
.box-three{width: $width;
  height: 80px;
  background-color: black;
  margin-bottom: 30px;
  }
.box-four{width: $width;
height: 70px;
background-color: black;
margin-bottom: 40px;
}
.box-five{width: $width;
height: 60px;
background-color: black;
margin-bottom: 50px;
}

.box-six{  width: $width;
  height: 50px;
  background-color: black;
  margin-bottom: 60px;
  }
.box-seven{ width: $width;
  height: 40px;
  background-color: black;
  margin-bottom: 70px;
}
.box-eight{width: $width;
  height: 30px;
  background-color: black;
  margin-bottom: 80px;
  }
.box-nine{width: $width;
height: 20px;
background-color: black;
margin-bottom: 90px;
}
.box-ten{width: $width;
height: 10px;
background-color: black;
margin-bottom: 100px;}
